<div class="realtime-container">
  <h2>Productos en tiempo real</h2>

  <div class="filters">
    <h3 class="search-prod">Buscar Productos</h3>

      <input type="text" id="searchTitle" placeholder="Buscar producto" class="input-filter">

      <button id="resetBtn" class="button-filter">Resetear Filtros</button>
  
  </div>
  
  <div class="products-grid">

    {{#each products}}
      <div class="product-card">

        <h3 class="product-title">{{this.title}}</h3>

        <p class="product-description">{{this.description}}</p>

        <p class="product-price">${{this.price}}</p>

        <p class="product-stock">Stock: {{this.stock}}</p>

        <p class="product-category">Categoría: {{this.category}}</p>

        <button class="delete-btn" data-id="{{this._id}}">Eliminar Producto</button>

      </div>
    {{/each}}

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/realtimeProducts.js"></script>
